.roster {
   overflow-y: hidden;
   position: relative;
}

.roster-cell {
    border: 1px solid #ccc;
    height: 50px;
    padding: 0px;
    width: 12.5%;
}

.roster-timeslots {
    height: 50px;
}

.roster-timeslot {
    min-height: 25%;
    border-bottom: 1px solid #ededed;
    position: relative;
    overflow-y: visible;
    left: 0;
    top: 0;
}

.roster-cell.hour-label {
   text-align: right;
   padding-right: 10px;
   color: #ccc;
   font-size: 10pt;
   vertical-align: top;
   border-top: none !important;
   border-bottom: none !important;
}

.roster-row .roster-timeslot:last-of-type {
   border-bottom: none;
}
.roster-entry {
   background-color: #dba334;
   border: 0px solid black;
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 9;
}

.roster-drag-handle {
   background-color: #ce9729;
   height: 5px;
   width: 100%;
   cursor: ns-resize;
}

.roster-entry {
   display: flex;
   flex-direction: column;
}

.roster-entry-body {
   width: 100%;
   flex: 1;

}

.roster-drag-mask {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: 99999;

}

.roster table {
  border-collapse: collapse;
  width: 100%;
}

* {
   box-sizing: border-box;
   font-family: Verdana;
}